@model Meghan_Blog.Models.BlogPost

    <div class="e-divider-2"></div>
    <!-- Page Content -->
    <section id="articles" class="">
        <div class="container">
            <div class="row">
                <article id="01" class="page-block col-md-12 page hentry">
                    <div class="e-divider-2"></div>
                    <div class="page-detail text-center">
                        <h2 class="entry-title page-title">Edit Blog Post</h2>
                    </div>
                    <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
                    <div class="e-divider-4"></div>
                    <div class="inner-content"></div>
                </article>
            </div>
        </div>
    </section>
    <!-- /Page Content -->
    <!-- Blog Post -->
    <section id="feedback-block" class="e-block-null text-center">
        <div class="container padding-side-60">
            <div class="row">
                <div class="col-md-12 e-centered">
                    <div class="e-divider-2"></div>
                    <div id="form-messages"></div>

                    @using (Html.BeginForm("Edit", "BlogPosts", FormMethod.Post, new { id = "ajax-contact", @class = "wpcf7-form", enctype = "Multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.Created)
                        @Html.HiddenFor(model => model.MediaUrl)

                        @*<div class="field text-left">
                            <label for="file" class="btn btn-btncolor btn-sm btn-file">
                                Upload Photo<input id="file" type="file" name="file" style="display: none;">
                            </label>
                        </div>*@
                        <div class="field text-left">
                            <label for="MKCfile" class="btn btn-btncolor btn-sm btn-file">
                                Upload New Photo
                                <input id="MKCfile" type="file" name="file" style="display: none;">
                            </label>
                            <div class="e-divider-1"></div>
                            <label>New Photo: </label><div id="file-selected" style="display: inline-block; margin-left: 5px;"></div>
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="field text-left">
                            <label>Current Photo: </label>
                            @Html.DisplayFor(model => model.MediaUrl)
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="field">
                            @Html.EditorFor(model => model.Title)
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            @*<input type="text" name="Title" placeholder="Blog Title" required>*@
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="field">
                            @Html.TextAreaFor(model => model.Abstract)
                            @Html.ValidationMessageFor(model => model.Abstract, "", new { @class = "text-danger" })
                            @*<textarea name="Abstract" placeholder="Abstract" rows="3" cols="30" required></textarea>*@
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="field bgeditbody">
                            @Html.TextAreaFor(model => model.Body)
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                         </div>
                        <div class="e-divider-1"></div>
                        <div class="e-divider-2"></div>
                        <div class="field text-left">
                            <label for="Published" class="publishfix">Publish? Check box below.</label>
                            <div class="checkbox text-left checkboxmargin">
                                @Html.EditorFor(model => model.Published)
                            </div>
                        </div>
                        <div class="e-divider-1"></div>
                        <div class="e-divider-3"></div>
                        <div class="field text-left">
                            <button type="submit" class="btn btn-lg btn-blk">Save Changes</button>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="e-divider-6"></div>
    </section>
    <!-- /Blog Post -->

    <div class="e-divider-10"></div>

@section scripts {
    <script type="text/javascript">
        CKEDITOR.replace('Body');

        $('#MKCfile').bind('change', function () {
            var path = $(this).val(); //gets value of file
            var fileName = path.replace(/^.*\\/, ''); //removes "fakepath" in Chrome
            $('#file-selected').html(fileName);
        })
    </script>
}
