@model IPagedList<Meghan_Blog.Models.BlogPost>
@using PagedList
@using PagedList.Mvc

    <!-- Post Feed -->
    <section id="articles" class="post-grid">
        <div class="container">
            <div class="row has-sidebar-right">
                <!--Content Column-->
                <div class="col-md-8 pull-left flex">
                    <div class="row">
                        @foreach (var postdet in Model)
                        {
                            <article id="01" class="post-block col-md-6 post hentry">
                                <div class="box">
                                    <div class="img-wrap">
                                        <a href="@Url.Action("Details", "BlogPosts", new { slug = postdet.Slug})">
                                            <img class="img-responsive picfix" src="@Url.Content(postdet.MediaUrl)" alt="01">
                                        </a>
                                    </div>
                                    <div class="post-detail">
                                        <h2 class="entry-title"><a href="@Url.Action("Details", "BlogPosts", new { slug = postdet.Slug })">@postdet.Title</a></h2>
                                        <div class="metas">
                                            Posted on: <a class="meta-date">@postdet.Created.ToString("MMM dd, yyyy")</a>/&nbsp;
                                            Posted by: <a href="mcombs-portfolio.azurewebsites.net" class="meta-author">Meghan</a>/&nbsp;
                                            <a class="meta-comment">@postdet.Comments.Count()</a>
                                        </div>
                                    </div>
                                    <div class="post-excerpt">
                                        <p>@postdet.Abstract</p>
                                    </div>
                                    <div class="continue-btn">
                                        <a href="@Url.Action("Details", "BlogPosts", new { slug = postdet.Slug})" class="btn btn-default tf-btn txt-link btn-rose-str">Continue reading...</a>
                                    </div>
                                </div>
                            </article>
                        }

                        <!--Pagination-->
    
                        <div class="col-md-12">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
                        </div>

                        <!--/Pagination-->

                    </div>
                </div>
                <!--/Content Column-->
                <!--Sidebar-->
                <div class="col-md-4 sticky-column" data-sticky_column>
                    <div class="sidebar">
                        <!--About Widget-->
                        <aside id="about-widget" class="widget widget_about">
                            <div class="text-center widget-wrap">
                                <div class="e-divider-4"></div>
                                <img class="img-circle  author-img" src="~/MyImages/3.jpg" alt="Meghan">
                                <div class="e-divider-3"></div>
                                <h5 class="hello">Hi! I am Meghan</h5>
                                <p>"We must be willing to let go of the life we have planned, so as to have the life that is waiting for us." <br />- E.M. Forster</p>
                                <div class="e-divider-2"></div>
                                <ul class="list-inline social">
                                    <li><a target="_blank" href="https://github.com/meghankcombs" class="rst-icon-facebook"><i class="fa fa-github"></i></a></li>
                                    <li><a target="_blank" href="https://www.linkedin.com/in/meghankcombs/" class="rst-icon-twitter"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <div class="e-divider-2"></div>
                            </div>
                            <div class="clearfix"></div>
                        </aside>
                        <!--/ About Widget-->
                    </div>
                </div>
                <!--/Sidebar-->

            </div>
        </div>
    </section>
    <!-- /Post Feed -->

    <div class="e-divider-6"></div>
    <div class="text-center"><div class="ornament-divider-fullwidth"><i class="flaticon-art-3"></i></div></div>
    <div class="e-divider-4"></div>